*{
    font-family: 'Poppins', sans-serif;
    
}
.container{
    margin-bottom: 50px;
}
header{
    background-color: #F0FFF0;
    height: 576px;
    margin-bottom: 42px;
}
.logo{
    width: 198.07px;
    height: 59px;
}
#sign-in{
    background-color: #21B573;
    border-radius: 36px;
    font-size: 1.1em;
    text-align: center;
    padding: auto 3em;
    cursor: pointer;
}
#sign-in:hover{
    background-color:#067543 ;
    color: white;
}
.illustration h1{
    font-weight: 700;
}
.illustration .red-text{
    color: #FD511A;
}
.illustration .green-text{
   color: #21B573;
}
.illustration .text{
    color: #6C6B6B;
}
#get-started{
    font-size: 1.3em;
    background-color: #21B573;
    border-radius: 36px;
    text-decoration: none;
}
#get-started:hover{
    background-color:#067543 ;
}
.feature-img1{
    background-color: #F8FFFB;
    width: 66px;
    height: 85px;
    margin-bottom: 2em;
}
.feature-img2{
    width: 80px;
    height: 83px;
    margin-bottom: 2em;
}
.feature-img3{
    background-color: #F8FFFB;
    width: 75px;
    height: 80px;
    margin-bottom: 2em;
}
.feature-img4{
    background-color: #F8FFFB;
    width: 68px;
    height: 76px;
    margin-bottom: 2em;
}
.feature-box{
    border-radius: 10px 50px 10px 50px;
    width: 270px;
    height: 270px;
    padding-top: 3em;
}
.feature-box:hover{
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.267);
}

.course-box{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.212);
    border-radius: 18px;
    height: 30rem;
    position: absolute;
    margin-bottom: 3rem;
}
.row h4{
    font-weight: 700;
    margin-top: 1rem;
}
.button-bottom{
    position: absolute;
    bottom: 3.5rem;
}

.date-bottom{
    position: absolute;
    bottom: 1rem;
}

.buy-course{
    font-size: 1.3em;
    background-color: #21B573;
    border-radius: 33px;
    text-decoration: none;
    padding: .5rem 1.8rem;
    color: white;
}
.buy-course:hover{
    background-color: #136d44;
    text-decoration: none;
    color: white;
}


footer{
    background-color: #282531;
    padding-top: 5rem;
}
footer a{
    text-decoration: none;
    color: rgb(143, 139, 139);
}
footer a:hover{
    text-decoration: none;
    color: white;
}
#course, #terms, #useful-links{
    font-weight: 600;
    font-size: 1.3rem;
    color: white;
}

footer p{
    margin-top: 3rem;
    color: gray;
}

footer .copyright{
    font-size: .9em;
}


 

/* media query */

@media (max-width: 768px) {
    header{
        height: 850px;
        text-align: center;
    }
    #sign-in{
        width: 20%;
        text-align: center;
    }
    .center{
        display: flex;
        justify-content: center;
    }
    .course-box{
        height: 40rem;
    }
}

@media (max-width: 650px) {
    .course-box{
        height: 35rem;
    }
}

@media (max-width: 576px) {
    header{
        height: 850px;
    }
   
    #sign-in{
        width: 20%;
        text-align: center;
    }

    .center{
        display: flex;
        justify-content: center;
    }
    .course-box{
        height: 33rem;
    
    }
    footer p,a {
        font-size: .8rem;
    }
    footer .copyright{
        font-size: .7rem;
    }
}





